/*=============================================================
    Authour URL: www.designbootstrap.com

    http://www.designbootstrap.com/

    License: MIT

    http://opensource.org/licenses/MIT

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE
   
========================================================  */

@keyframes fadein {
    from {
        opacity: .5;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    
    from {
        opacity: .5;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    
    from {
        opacity: .5;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    
    from {
        opacity: .5;
    }
    to {
        opacity: 1;
    }
}
/*================================
    GENERAL STYLES
==================================*/

@import url(http://fonts.googleapis.com/css?family=Roboto);
/* GOOGLE FREE FONTS */

html,
body {
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    
    -o-animation: fadein 2s;
    /* Opera */
}

section {
    padding-top: 80px;
    padding-bottom: 120px;
}

.head-set {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad-bottom {
    padding-bottom: 60px;
}
/*================================
    NAVBAR STYLES
==================================*/

.navbar-default {
    background-color: rgb(70, 120, 140);
    border-color: transparent;
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > a:hover {
    color: rgb(100, 250, 150);
}

.navbar-brand {
    padding: 0px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

i {
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

i:hover {
    cursor: pointer;
    opacity: .5;
}

.shadow {
    margin-bottom: -10px;
    padding: 5px;
    width: 100%;
    background-color: #2D4D5A;
    -webkit-box-shadow: 0 -5px 40px 10px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 -5px 40px 10px rgba(0, 0, 0, .15);
    box-shadow: 0 -5px 40px 10px rgba(0, 0, 0, .15);
}
/*================================
    HOME SECTION STYLES
==================================*/
/*STYLE OF BACKGROUND IMAGE*/

#home {
    background: url(../img/home.jpg) no-repeat center center;
    /*Full Witdth background image*/
    
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    min-height: 600px;
}
/*STYLE FOR OVERLAY CLASS - WHICH IS ABOVE IMAGE WITH OPACITY/TRANSPARENCY 0.75*/

#home .overlay {
    padding-top: 90px;
    background-color: rgba(70, 120, 140, .7);
    /*.75 opacity of the color so that background image is visible*/
    
    min-height: 600px;
    color: #fff;
}

#home h1 {
    padding-top: 80px;
    font-weight: 900;
    font-size: 100px;
    font-family: 'Segoe UI Light';
}
/*SMPLE CLASS TO ADJUST SECTION PADDING & HEIGHT*/
/*CLASS TO FORMAT TEXT*/

.p-cls {
    padding-top: 30px;
    padding-bottom: 40px;
}

#portfoliohome {
    background: url(../img/5.jpg) no-repeat center center;
    /*Full Witdth background image*/
    
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    min-height: 600px;
}
/*STYLE FOR OVERLAY CLASS - WHICH IS ABOVE IMAGE WITH OPACITY/TRANSPARENCY 0.75*/

#portfoliohome .overlay {
    padding-top: 90px;
    background-color: rgba(70, 140, 140, .7);
    /*.75 opacity of the color so that background image is visible*/
    
    min-height: 600px;
    color: #fff;
}

#portfoliohome h1 {
    padding-top: 80px;
    font-weight: 900;
    font-size: 100px;
    font-family: 'Segoe UI Light';
}

/*======================================
    PARALLAX LIKE / STATS SECTION STYLES
=========================================*/

.parallax1 {
    background: url(../img/pennapps.jpg) no-repeat center center;
    /* DEFINE IMAGE PATH CAREFULLY*/
    
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

.parallax1 .overlay {
    min-height: 200px;
    background: rgba(15, 60, 70, .75);
    font-size: 40px;
    padding-bottom: 60px;
    padding-top: 60px;
    -moz-box-shadow: inset 0 0 16px 10px rgba(0, 0, 0, .15);
    -webkit-box-shadow: inset 0 0 16px 10px rgba(0, 0, 0, .15);
    box-shadow: inset 0 0 16px 10px rgba(0, 0, 0, .15);
}

.parallax2 {
    background: url(../img/gh4h.jpg) no-repeat center center;
    /* DEFINE IMAGE PATH CAREFULLY*/
    
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

.parallax2 .overlay {
    min-height: 200px;
    background: rgba(15, 60, 70, .75);
    font-size: 40px;
    padding-bottom: 60px;
    padding-top: 60px;
    -moz-box-shadow: inset 0 0 16px 10px rgba(0, 0, 0, .15);
    -webkit-box-shadow: inset 0 0 16px 10px rgba(0, 0, 0, .15);
    box-shadow: inset 0 0 16px 10px rgba(0, 0, 0, .15);
}

.parallax3 {
    background: url(../img/asa.jpg) no-repeat center center;
    /* DEFINE IMAGE PATH CAREFULLY*/
    
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

.parallax3 .overlay {
    min-height: 200px;
    background: rgba(15, 60, 70, .75);
    font-size: 40px;
    padding-bottom: 60px;
    padding-top: 60px;
    -moz-box-shadow: inset 0 0 16px 10px rgba(0, 0, 0, .15);
    -webkit-box-shadow: inset 0 0 16px 10px rgba(0, 0, 0, .15);
    box-shadow: inset 0 0 16px 10px rgba(0, 0, 0, .15);
}

.parallax4 {
    background: url(../img/city.jpg) no-repeat center center;
    /* DEFINE IMAGE PATH CAREFULLY*/
    
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

.parallax4 .overlay {
    min-height: 200px;
    background: rgba(15, 60, 70, .75);
    font-size: 40px;
    padding-bottom: 60px;
    padding-top: 60px;
    -moz-box-shadow: inset 0 0 16px 10px rgba(0, 0, 0, .15);
    -webkit-box-shadow: inset 0 0 16px 10px rgba(0, 0, 0, .15);
    box-shadow: inset 0 0 16px 10px rgba(0, 0, 0, .15);
}

.parallax5 {
    background: url(../img/mountain.jpg) no-repeat center center;
    /* DEFINE IMAGE PATH CAREFULLY*/
    
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

.parallax5 .overlay {
    min-height: 200px;
    background: rgba(15, 60, 70, .6);
    font-size: 40px;
    padding-bottom: 60px;
    padding-top: 60px;
    -moz-box-shadow: inset 0 0 16px 10px rgba(0, 0, 0, .15);
    -webkit-box-shadow: inset 0 0 16px 10px rgba(0, 0, 0, .15);
    box-shadow: inset 0 0 16px 10px rgba(0, 0, 0, .15);
}

/*================================
    PORTFOLIO / WORK SECTION STYLES
==================================*/

.portfolio-item img:hover {
    /* POSTFOLIO IMAGE BIG ON HOVER */
    
    cursor: pointer;
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    /* Safari */
    
    z-index: 1;
}
/*================================
    VIDEO SECTION STYLES
==================================*/

#video-sec {
    color: #fff;
    text-align: center;
}

#video-sec .overlay {
    background-color: rgba(0, 0, 0, 0.85);
    min-height: 300px;
    color: #fff;
}

#video-sec h1 {
    padding-top: 80px;
    font-size: 50px;
    font-weight: 900;
    padding-bottom: 30px;
}
/*================================
    CLIENTS SECTION STYLES
==================================*/

#clients {
    background-color: #f4f4f4;
    padding-bottom: 50px;
    padding-top: 50px;
}

#clients img {
    opacity: 0.5;
    cursor: pointer;
}

#clients img:hover {
    opacity: 1;
}
/*================================
    FOOTER SECTION STYLES
==================================*/

footer {
    padding: 20px;
    font-size: 15px;
    text-align: center;
    font-weight: 900;
    background-color: rgb(70, 120, 140);
    color: #fff;
}

footer a,
footer a:hover {
    color: #fff;
    text-decoration: none;
}