/* Styles Mobile */

@media only screen and (max-width:1000px){
	
	slideOut{
		display: inherit;
		z-index: 1001;
	}

	chatOut{
		display: inherit;
		z-index: 1001;
	}

	header{
		padding-top: 40px;
	}

	menu{
		display: none;
	    -webkit-box-shadow: 0 0 35px -14px black;
		background-color: #fff;
		height: 100%;
		width: 65%;
		position: fixed;
		padding: 25px;
		text-align: left;
		transition: .5s;
		font-size: 25pt;
		z-index: 1000;
	}

	menu img{
		margin-top: 17%;
	}
	menu h2{
	}

	menu ul {
		padding: 0;
		margin: 0;
		list-style-position: inside;
	    list-style-type:  decimal;
		text-align: left;
		width: 100%;
	}

	chatbox{
		display: none;
	    -webkit-box-shadow: 0 0 35px -14px black;
		background-color: #fff;
		height: 94%;
		position: fixed;
		padding: 2%;
		text-align: left;
		right: 0;
		bottom: 0;
		max-width:75%;
		min-width:340px;
		z-index: 1000;
	}
	
	section{
		width: 100%;
		margin-left: 0;
		margin-top: 10px;
		margin-bottom: 10px;
		background-color: #fff;
		box-shadow: 0px 5px 60px -23px black;
		padding-bottom: 5px;
		transition: .5s;
	}

	article{
		color: #111;
		width: 95%;
	}
}