@import url(http://fonts.googleapis.com/css?family=Roboto);

html, body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	background-color: #dfe5ea;
}

body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: 0 0 5px 2px black;
}
 
body::-webkit-scrollbar-thumb {
  -webkit-box-shadow: 0 0 15px 0px black;
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#web-plug{
	position: fixed;
    top: 0;
    right: 0;
    padding: 9px;
    font-size: 10pt;
	background-color: rgba(0,0,0,.5);
	color: white;
	border-radius: 0 0 0 10px;
	cursor: pointer;
}
#web-plug:hover{
	position: fixed;
	background-color: rgba(0,0,0,.2);
}

menu{
    -webkit-box-shadow: 0 0 35px -14px rgba(0,0,0,.5);
	background-color: #fff;
	height: 90%;
	width: 15%;
	position: fixed;
	padding: 25px;
	bottom: 0;
	text-align: left;
	font-size: 14pt;
	transition: .5s;
}

menu h5{
	margin: 0;
	padding: 0;
	color: #888;
	cursor: pointer;
	transition: .5s;
}
menu h5:hover{
	color: #ccc;
}

menu ul {
	padding: 0;
	margin: 0;
	list-style-position: inside;
    list-style-type:  decimal;
	text-align: left;
	width: auto;
}

.sectMenu{
	color: #04a;
	font-size: 18pt;
}

header{
	padding-top: 35px;
	margin-left: 20%;
}

.sectionHeader{
	margin-left: 20%;
}

slideOut{
	display: none;
	position: fixed;
	top: 10px;
	left: 10px;
	background-color: #888;
	color: white;
	padding: 10px 15px 10px 15px;
	border-radius: 10px;
}
slideOut:hover{
	background-color: #ccc;
	cursor: pointer;
}

chatOut{
	display: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	background-color: #888;
	color: white;
	padding: 10px 15px 10px 15px;
	border-radius: 10px;
}
chatOut:hover{
	background-color: #ccc;
	cursor: pointer;
}

chatbox{
    -webkit-box-shadow: 0 0 35px -14px rgba(0,0,0,.5);
	background-color: #fff;
	height: 90%;
	position: fixed;
	padding: 1%;
	text-align: left;
	right: 0;
	bottom: 0;
	max-width:25%;
	width:20%;
}

#messageStore{
	max-height: 75%;
    overflow: scroll;
}
#messageStore::-webkit-scrollbar {
	width: 0px;
}
 
#messageStore::-webkit-scrollbar-track {
	opacity: 0;
}
 
#messageStore::-webkit-scrollbar-thumb {
	opacity: 0;
}

.chatContainer header{
	margin: 0;
	padding: 0;
	font-size: 2em;
}

.chatInput{
	background-color: #233;
	padding: 0;
	color: white;
	padding: 10px;
	margin-bottom: 2px;
	border-radius: 10px;
}

.chatInputFloat{
	position: fixed;
	bottom: 20px;
}

.chatInput{
	background-color: #233;
	padding: 0;
	width: 100%;
	color: white;
	padding: 10px;
	margin-bottom: 2px;
	border-radius: 10px;
}

#nameInput{
	margin-left: 0px;
	background-color: #344;
	color: white;
	padding: 7px;
	border-radius: 10px;
	border: 0;
}

#messages{
	padding: 5px;
	margin-bottom: 2px;
	width: 98%;
}

#messages li{
	margin: 0px 0px 10px 0px;
	padding: 10px;
	list-style-type: none;
	box-shadow: 0px 1px 10px -3px rgba(0,0,50,.5);
}

#messageInput{
	width:100%;
	border: 0;
	background-color: #344;
	color: white;
	padding: 7px;
	border-radius: 10px;
	box-shadow: inset 0px 1px 10px 3px rgba(0,0,50,.5);

}

section h1{
	padding-top: 20px;
	cursor: pointer;
}

section{
	width: 55%;
	margin-left: 20%;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #fff;
	box-shadow: 0px 5px 10px -3px rgba(0,0,0,.5);
	padding-bottom: 5px;
	transition: .5s;
}

section:hover{
	box-shadow: 0px 1px 10px 0px rgba(0,120,250,.5);
}

section:active{
	box-shadow: 0px 1px 23px 2px rgba(0,150,250,.5);
}

article{
	color: #111;
	width: 95%;
	margin-left: 2.5%;
}

article h1{
	color: #111;
}

input {
	font-family: 'Roboto';
}

a{
	color: #27a;
}

/* Section Specific */

#sectionThree p {
	font-size: 1.5em;
}

.sectionThreePopTri{
	margin-top: 5px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 20px 20px 20px;
	border-color: transparent transparent #382d38 transparent;
}

#sectionThreePop p{
	margin-top: -10px;
	padding: 20px;
	background-color: #382d38;
	color: white;
	font-size: 12pt;
}

.step{
	text-align: left
}

.step pre{
	color: white;
}
.step u{
	color: white;
}